name: Multiple Architecture Image Build

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'release-*'
    tags:
      - 'v*'

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  image-build:
    uses: konveyor/release-tools/.github/workflows/build-push-images.yaml@main
    with:
      registry: "quay.io/konveyor"
      image_name: "jdtls-server-base"
      containerfile: "./Dockerfile"
      architectures: '[ "amd64", "arm64", "ppc64le", "s390x" ]'
    secrets:
      registry_username: ${{ secrets.QUAY_PUBLISH_ROBOT }}
      registry_password: ${{ secrets.QUAY_PUBLISH_TOKEN }}

  build_image_analyzer:
    name: trigger java provider rebuild
    runs-on: ubuntu-latest
    steps:
      - name: Get Token
        id: get_workflow_token
        uses: peter-murray/workflow-application-token-action@v3
        with:
          application_id: ${{ vars.KONVEYOR_BOT_ID }}
          application_private_key: ${{ secrets.KONVEYOR_BOT_KEY }}

      # Tell the analyzer to re-build it's images to get the update image.
      - uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ steps.get_workflow_token.outputs.token }}
          repository: "konveyor/analyzer-lsp"
          event-type: rebuild-java-provider
          client-payload: '{"ref": "${{ github.ref}}", "ref_name": "${{ github.ref_name }}"}'
